
footer {
    background-image: url(../img/layout/header1.png);
    background-position: right bottom;
    text-align: center;
    padding-top: 40px;
}

.footer-copyright {
    color: white;
    opacity: 0.6;
}

footer #footer-logo{
    max-width: 15%;
}

footer #logobg {
    position: absolute;
}

footer {
    overflow: hidden;
}
